.logo {
    font-weight: 400;
    font-size: 16px;
}

.top-navigation_menubar .menu {
    width: 30px;
    height: 1px;
    background: #fff;
    margin: 7px 0;
}

.navigation-link {
    color: var(--main-color);
    text-decoration: none;
    padding: 0 1rem;
}

.navigation-link:hover {
    color: var(--highlight-color);
}