.top-navigation {
    padding: 0 120px 20px;
}

.top-navigation--logo-container img {
    display: block;
    max-width: 120px;
}


/*menu bar design*/

.top-navigation--menubar {
    display: none;
    cursor: pointer;
}

.top-navigation--menubar .menu {
    width: 30px;
    height: 1px;
    background: #fff;
    margin: 7px 0;
}


.navigation-link {
    color: var(--main-color);
    text-decoration: none;
    padding: 0 1rem;
    display: inline-block;
}

.navigation-link:hover {
    color: var(--highlight-color);
}

.top-navigation--menubar__open {
    background-color: #222;
    position: fixed;
    top: 15%;
    right: 7%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 1rem 2rem;
    box-shadow: 2px 2px 16px rgba(255, 255, 255, .5);
}

/*web breakpoints (responsiveness)*/

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {

    .top-navigation {
        padding: 0 100px 20px;
    }

}

@media screen and (max-width: 768px) {

    .top-navigation {
        padding: 0 80px 20px;
    }

    .top-navigation--logo-container img {
        display: block;
        max-width: 100px;
    }

    .top-navigation--menubar {
        display: inline-block;
        transition: .3s;
    }

    .top-navigation--pages {
        display: none;
    }

    .top-navigation--pages__container .navigation-link {
        display: block;
        font-size: 1rem;
        padding: 10px 0;
    }

}

@media screen and (max-width: 576px) {

    .top-navigation {
        padding: 0 30px 20px;
    }

}

@media screen and (max-width: 400px) {

    .top-navigation {
        padding: 0 20px 20px;
    }

}