.partners-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem 3rem;
    margin-top: 2rem;
}

.partners-content_main img {
    display: block;
    width: 120px;
    max-width: 100%;
    filter: grayscale(1);
}

.partners-title h2 {
    color: #ddd;
    text-align: center;
}