.challenge-container_card {
    padding: 2rem 2rem;
    position: relative;
    cursor: pointer;
    max-width: 90%;
    margin: 1rem auto 1rem auto;
    transition: .3s ease-in-out;
    background-color: #101010;
    border-radius: 12px;
}

.challenge-container_card::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #ddd;
    transition: .3s ease-in;
}



.challenge-container_card:hover::before {
    width: 100%;
}

.challenge-container_card h3 {
    color: var(--main-color);
    font-weight: var(--font-400);
    font-size: 1.6rem;
    margin: 0;
}

.challenge-container_card p {
    color: #ddd;
    font-size: 1.1rem;
    font-weight: var(--font-300);
    margin: 0;
}