@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@import "bootstrap/dist/css/bootstrap.css";

:root {
    --main-color: #ffff;
    --secondary-color: #f7f7f7;
    --third-color: #ddd;
    --bg-color: #121212;
    --highlight-color: #FFFF00;
    --gradient01-color: #2AF598;
    --gradient02-color: #0093FD;

    --main-font: "Oxygen", sans-serif;
    --secondary-font: "Source Sans 3", sans-serif;

    --font-200: 200;
    --font-300: 300;
    --font-400: 400;
    --font-500: 500;
    --font-600: 600;
    --font-700: 700;
    --font-800: 800;
    --font-900: 900;

    --font-size-5: 5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: var(--secondary-font);
}